.home-wrap {
  display: flex;
  height: 100vh;
}

.home-left {
  background-color: green;
  flex: 1;
}
.home-mid {
  background-color: red;
  flex: 1;
}
.home-right {
  background-color: blue;
  flex: 1;
}
